body {
    background: url(/resources/images/backgroundskovoroda.jpg) no-repeat 0px 50px,
    url(/resources/images/backgroundskovoroda.jpg) no-repeat 0px 850px;/* Цвет фона и путь к файлу */
    background-size: 100% auto;
    color: #fff; /* Цвет текста */
}

div{
    color: #fff;
}

table{
    border-color: white;
    /*background: rgba(155,155,157, 0.5);*/
    background: rgba(83,104,114, 0.8);
}

.backgroundGray{
    background: rgba(83,104,114, 0.8);
}

.buttonLink{
    white-space: nowrap;
    text-align: center;
    color: darkred;
    border: white 1px solid;
}

.errorText{
    color: white;
    background: lightcoral;
    /*border: 1px solid red;*/
    border-radius: 5px;
}

.fixBlock{
    position:fixed;
}

div .myCard{
    width: 390px;
    height: 410px;
    background-color: rgba(83,104,114, 0.8);
    margin: 5px;
}


