<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css" th:href="@{/resources/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <title>Cart</title>
</head>
<body>
<div th:insert="~{navigation/header :: header}"></div>
<div class="container">
    <div class="row">
        <h1>Cart</h1>

        <table class="table-bordered col text-center">
            <tr>
                <th>№</th>
                <th>Product</th>
                <th>Description</th>
                <th>Price for one</th>
                <th>Amount</th>
                <th>Full price</th>
                <th>Action</th>

            </tr>
            <tr th:each="lineItem,state : ${cartProducts}" class="text-center">
                <td th:text="${state.count}" class="col-1"></td>
                <td class="col-1">
                    <img th:src="${lineItem.product.imageUrl}" alt="" style="height: 100px;">
                </td>
                <td>
                    <h5 th:text="${lineItem.product.name}"></h5>
                    <p th:text="${lineItem.product.description}"></p>
                </td>
                <td th:text="${lineItem.price}" class="col-1"></td>
                <td class="col-2">

                    <div class="mx-1 d-inline">
                        <a th:href="@{${#httpServletRequest.requestURI}+'/subtractQuantityTo'+__${lineItem.product.id}__}"
                           type="button" class="btn btn-outline-light float-none" th:text="'-'" style="width: 40px; margin-right: 10px;"></a>
<!--                        <br>-->
<!--                        <span th:text="' '+${lineItem.quantity}+' '"></span>-->
<!--                        <input type="number" th:value="${lineItem.quantity}" style="width: 50px; height: 40px;">-->
                        <span th:text="${lineItem.quantity}" style="font-size: 16px;"></span>
<!--                        <br>-->

                        <a th:href="@{${#httpServletRequest.requestURI}+'/addQuantityTo'+__${lineItem.product.id}__}"
                           type="button" class="btn btn-outline-light float-none" th:text="'+'" style="width: 40px; margin-left: 10px;";></a>
                    </div>


                </td>
                <td th:text="${lineItem.totalPrice}" class="col-1"></td>
                <td class="col-3">
                    <a th:href="@{${#httpServletRequest.requestURI}+'/delete'+__${lineItem.product.id}__}" type="button" class="btn btn-dark"
                       th:text="Delete">Delete</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="float-end">
        <br>
        <h2><span th:text="'Total price: '+${totalPrice}+' руб.'"></span></h2>
        <a th:href="@{${#httpServletRequest.requestURI}}" type="button" class="btn btn-primary float-end"
           th:text="'Form an order'">Form an order</a>
    </div>

</div>
</body>
</html>