<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css" th:href="@{/resources/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <title>Header</title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="#{header.wokBar.title}">Wok-Bar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div th:if="${#httpServletRequest.requestURI}=='/'">
                            <a class="nav-link active" aria-current="page" th:href="@{/}" th:text="#{header.home.title}">Home</a>
                        </div>
                        <div th:if="${#httpServletRequest.requestURI}!='/'">
                            <a class="nav-link" aria-current="page" th:href="@{/}" th:text="#{header.home.title}">Home</a>
                        </div>

                    </li>
                    <li class="nav-item">

                        <div>
                            <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/menu')} ? 'nav-link active' : 'nav-link'" th:href="@{/menu/wok}" th:text="#{menu.title}">Menu</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div th:if="${#httpServletRequest.requestURI}=='/contacts'">
                            <a class="nav-link active" th:href="@{/contacts}" th:text="#{header.contacts.title}">Contacts</a>
                        </div>
                        <div th:if="${#httpServletRequest.requestURI}!='/contacts'">
                            <a class="nav-link" th:href="@{/contacts}" th:text="#{header.contacts.title}">Contacts</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           th:placeholder="#{header.search.title}">

                    <div class="dropdown mx-2">
                        <a class="btn btn-secondary dropdown-toggle" href="#" type="button" id="dropdownMenuButton1"
                           data-bs-toggle="dropdown" aria-expanded="false" th:text="#{header.language.title}">
                            Language
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" th:text="#{header.language.en}" type="button"
                                   th:href="${#httpServletRequest.requestURI} + '?lang=en'"></a></li>
                            <!--                                   th:href="'/' + '?lang=en'"></a></li>-->

                            <li><a class="dropdown-item" th:text="#{header.language.ru}" type="button"
                                   th:href="${#httpServletRequest.requestURI} + '?lang=ru'"></a></li>
                            <!--                                   th:href="'/' + '?lang=ru'"></a></li>-->

                        </ul>
                    </div>

                    <div sec:authorize="isAnonymous()">
                        <a href="/registration" class="btn btn-outline-light mx-1" role="button"
                           th:text="#{header.registration.title}"></a>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a href="/login" class="btn btn-outline-light mx-1" role="button"
                           th:text="#{header.login.title}"></a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <div class="dropdown">
                            <a class="btn btn-success dropdown-toggle" href="#" type="button" id="dropdownMenuButton2"
                               data-bs-toggle="dropdown" aria-expanded="false">
<!--                                <span th:text="#{header.user.title} + ': '">User: </span>-->
                                <span sec:authentication="name"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
                                aria-labelledby="dropdownMenuButton2">
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link active" th:href="@{/admin/categories}"
                                       th:text="#{header.categories.title}">Categories</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link active" th:href="@{/admin/orders}"
                                       th:text="#{header.orders.title}">Orders</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasRole('USER')">
                                    <a class="nav-link active" th:href="@{/user}"
                                       th:text="#{header.user.title}">User</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasRole('USER')">
                                    <a class="nav-link active" th:href="@{/cart}"
                                       th:text="#{header.cart.title}">Cart</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="/signout" class="dropdown-item btn btn-warning text-nowrap"
                                       role="button" th:text="#{header.signOut.title}" style="color: red"></a></li>
                            </ul>
                        </div>


                    </div>
                </form>
            </div>

        </div>
    </nav>
</div>


</body>
</html>